html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}

#container {
  max-width: 1080px;
  display: flex;  /*enables flex content for its children*/
  margin: auto;
}

aside {
  order: 2;
  min-width: 232px;
  margin: 48px 0 0 24px;
}

nav {
  position: fixed;
  width: 232px;
}

nav > a {
  display: block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin: 6px 0;
  width: 100%;
}

main {
  order: 1;
  overflow-y: auto;
  margin: 48px 0 0 0;
}

.project-cover-image {
  max-width: 100%;
  overflow: hidden;
}
