/********** GLOBAL **********/

html {
  height: 100%;
  list-style: none;
  color: #101010;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: hidden;
}

#container {
  display: flex;
  margin: auto;
}

a {
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  color: #101010;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  letter-spacing: -.02em;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 41px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-family: 'Source Code Pro', monospace;
  font-size: 34px;
  margin: 0;
  font-weight: 400;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #9B9B9B;
}


/* Navigation */

aside {
  order: 1;
  margin: 0;
  position: absolute;
  overflow: scroll;
}

nav {
  background-color: #101010;
  position: fixed;
  float: left;
  height: 100%;
  overflow: auto;
  padding: 8px 16px 0 16px;
}

nav > a {
  display: block;
  font-size: 20px;
  height: 44px;
  line-height: 44px;
  text-align: left;
  margin: 0;
  width: 100%;
}

#hamburger {
  display: none;
}

#menu {
  display: none;
  width: 100vw;
  background-color: #101010;
  height: 100vh;
  font-size: 40px;
  padding-top: 80px;
}

#menu > a {
  display: block;
  height: 80px;
  line-height: 80px;
}

.active-link {
  color: #4F73FF;
}

.inactive-link {
  color: #ffffff;
}

/* Main */

main {
  order: 2;
  overflow-y: auto;
  width: 100%;
  text-align: left;
  margin-left: 175px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}


/********** X-SMALL WINDOW **********/

@media only screen and (max-width: 600px) {

  nav {
    display: none;
  }

  #hamburger {
    display: block;
    background-color: #101010;
    height: 47px;
    width: 48px;
    padding: auto;
  }

  #menu-btn {
    width: 24px;
    height: 19px;
    margin: 14px 12px;
  }

  main {
    margin: 58px 16px 120px 16px;
  }

}




/********** SMALL WINDOW **********/

@media only screen and (max-width: 900px) {

  nav {
    display: none;
  }

  #hamburger {
    display: block;
    background-color: #101010;
    height: 47px;
    width: 48px;
    padding: auto;
  }
  #menu-btn {
    width: 24px;
    height: 19px;
    margin: 14px 12px;
  }

  main {
    margin: 58px 16px 120px 16px;
  }

}




/********** MEDIUM WINDOW **********/

@media only screen and (max-width: 1100px) {

  nav {
    display: none;
  }

  #hamburger {
    display: block;
    background-color: #101010;
    height: 47px;
    width: 48px;
    padding: auto;
    position: fixed;
  }
  #menu-btn {
    width: 24px;
    height: 19px;
    margin: 14px 12px;
  }

  main {
    margin: 58px 16px 120px 16px;
  }

}

/********** LARGE WINDOW **********/

.prof-pic {
  height: 96px;
  width: 96px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 24px 0 32px 0;
}

.project-preview {
  max-width: 100%;
  text-align: left;
  margin: 0 0 48px 0;
}

#projects h1 {
  margin: 0 0 16px 0;
}

.project-cover-image {
  overflow: hidden;
  margin: 0 0 8px 0;
  height: 375px;
  width: 100%;
}

.project-skills-list {
  margin: 0 0 16px 0;
}

.project-skill {
  display: inline-block;
  padding: 2px 4px;
  margin: 0 8px 0 0;
  background-color: #EAEAEA;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
}

.resume-items {
  margin: 0 0 24px 0;
}

#resume h5 {
  margin: 0 0 8px 0;
}

.resume-section-title {
  margin: 0 0 48px 0;
}

#project {
  display: flex;
}

.close-project{
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  float: left;
  position: fixed;
  margin-top: 48px;
}

#project-details {
  max-width: 960px;
  margin: 48px auto;
  padding: 48px;
  background-color: #efefef;
  box-shadow: 5px 10px #404040;
}

.project-image {
  max-width: 100%;
}
